html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f8;
}

#mapid { 
    margin: auto;
    width: 95%;
    height: 60%; 
}
#form {
    width: 95%;
    margin: 2% auto;
}
input {
    outline: 0;
}
#coord_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}
h1 {
    font-size: 18px;
}
#clicked_adress {
    position: absolute;
    right: 10%;
}